QDialog {
    font-size: 16px;
}
QWidget {
    color: qlineargradient(spread:pad, x1:0 y1:0, x2:0 y2:1, stop:0 rgba(0, 0, 0, 255), stop:1 rgba(255, 255, 255, 255));*/
    background: qlineargradient( x1:0 y1:0, x2:0 y2:1, stop:0 gray, stop:1 darkGray);
    font-family: "Ubuntu";
    font-size: 16px;
}
QLineEdit {
    min-height: 44px;
    text-align: center;
}

QSpinBox{
    min-height: 44;
        text-align: center;
}
QSpinBox::up-button, QSpinBox::down-button {
    width: 22px;
}

